body {background-color: Seashell; margin-top: 20px,}

h1 { letter-spacing: 2px;color: #17575F; font-family: Georgia, serif;
margin-left: 15px;}

/* W3schools said to that constrasting fonts can look good e.g. serif and sans serif style so I picked fonts that meshed well 
together */

h2 { letter-spacing: 2px; color: #17575F; font-family: Georgia, serif;
margin-left: 15px;}

h3 { letter-spacing: 2px;color: #17575F; font-family: Georgia, serif;
margin-left: 15px; font-size: 20px;}


p{ line-height: 1.5; font-family: Noto Sans, sans-serif;
margin-left: 15px;background-color: Seashell;}


.bio{margin-bottom: 50px}

.index{text-align:center;}
.intro{text-align:center; background-color:#ffeb99; margin:60px; padding:25px; border: 3px solid #17575F;}

#map {height: 20%; }

a{letter-spacing: 2px;color: #17575F; font-family: Georgia, serif; font-size: 15px;}
a:hover{color:#cc7a00}

.elink a{padding-left:20px; padding-right:20px; color:black;}
.elink{margin-bottom:50px;}



